/*----- Fonts & Texts -----*/

@font-face {
	font-family: coohew;
	src: url("../fonts/coohew/CooHew-Bold.ttf");
}

@font-face {
	font-family: breeserif;
	src: url("../fonts/breeserif/BreeSerif-Regular.ttf");
}

@font-face {
	font-family: opensans;
	src: url("../fonts/opensans/OpenSans-Regular.ttf");
}

header .brand-logo {
	font-family: coohew, Impact, sans-serif;
}

h1, h2, h3, h4 {
	font-family: breeserif, Georgia, serif;
}

figcaption > h4 {
	font-size: 16px;
}

p {
	font-family: opensans, Verdana, sans-serif;
	font-size: 16px;
}


/*----- Header -----*/

header > .jumbotron {
	width: 250px;
	height: 260px;
	padding: 0;
	margin: auto;
	background-color: #fff;
}

header > .jumbotron > div:hover {
	cursor: pointer;
}

header .brand-roof {
	width: 270px;
	position: relative;
	top: 30px;
	left: -25px;
	border-bottom: 60px solid #b69476;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
}

@media (min-width: 468px) {
	header > .jumbotron {
		width: 400px;
	}

	header .brand-roof {
		width: 420px;
	}
}

@media (min-width: 568px) {
	header > .jumbotron {
		width: 500px;
	}

	header .brand-roof {
		width: 520px;
	}
}

@media (min-width: 768px) {
	header > .jumbotron {
		width: 600px;
	}

	header .brand-roof {
		width: 540px;
		left: -30px;
	}
}

header .brand-logo {
	color: #66290b;
	padding-top: 20px;
	padding-bottom: 30px;
	border: 10px solid #b69476;
	border-radius: 5px;
}

header .brand-icon {
	color: #b69476;
	display: inline-block;
	position: relative;
	top: -44px;
	padding: 0 18px;
	background: #fff;
	font-size: 42px;
}


/*----- Nav -----*/

.navbar {
	border-radius: 5px;
}

.navbar .navbar-right {
	margin-right: 0;
}

.navbar .nav .nav-link {
	font-family: opensans, Verdana, sans-serif;
	font-size: 20px;
	color: #fff;
	padding: 0;
	margin: 20px;
	text-align: center;
}

@media (min-width: 768px) {
	.navbar .nav .nav-link {
		margin-left: 14px;
		margin-right: 14px;
	}
}

@media (min-width: 992px) {
	.navbar .nav .nav-link {
		margin: 20px;
	}
}

.navbar .nav .nav-link:after {
	content: '';
	display: block;
	margin: auto;
	width: 0;
	height: 2px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.navbar .nav .nav-link:hover {
	cursor: pointer;
}

.navbar .nav .nav-link:hover:after,
.navbar .nav .nav-click:after {
	width: 100%;
	background-color: #fff;
}


/*----- Main: All -----*/

main {
	margin-top: 50px;
	margin-bottom: 250px;
}


/*----- Main: Home -----*/

.home > [class*="banner-"] {
	height: 80vh;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.home > h1 {
	margin-top: 0;
}

.home > p {
	font-size: 22px;
	margin: 50px 0;
}

.home > .banner-1 {
	background-image: url("../images/home/frontage.jpg");
}

.home > .banner-2 {
	background-image: url("../images/home/bedroom.jpg");
}

.home > .banner-3 {
	background-image: url("../images/home/breakfast.jpg");
}


/*----- Main: Rooms
			  Reserve -----*/

.floor-plan,
.room-details {
	height: 80vh;
}

.room-pictures,
.room-controls {
	height: 20vh;
}

.floor-plan {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../images/floor_plan/floor_plan_2.png");
	position: relative;
	height: 620px;
}

[class*="bedroom-"] {
	position: absolute;
}

[class*="bedroom-"] > p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
	[class*="bedroom-"] {
		height: 84px;
		width: 60px;
	}

	.bedroom-1,
	.bedroom-3 {
		top: 214px;
	}

	.bedroom-1,
	.bedroom-6 {
		left: 96px;
	}

	.bedroom-2,
	.bedroom-4 {
		top: 172px;
	}

	.bedroom-2,
	.bedroom-5 {
		left: 160px;
	}

	.bedroom-3,
	.bedroom-8 {
		left: 352px;
	}

	.bedroom-4,
	.bedroom-7 {
		left: 288px;
	}

	.bedroom-5,
	.bedroom-7 {
		top: 365px;
	}

	.bedroom-6,
	.bedroom-8 {
		top: 323px;
}

@media (min-width: 992px) {
	[class*="bedroom-"] {
		height: 108px;
		width: 78px;
	}

	.bedroom-1,
	.bedroom-3 {
		top: 186px;
	}

	.bedroom-1,
	.bedroom-6 {
		left: 124px;
	}

	.bedroom-2,
	.bedroom-4 {
		top: 132px;
	}

	.bedroom-2,
	.bedroom-5 {
		left: 207px;
	}

	.bedroom-3,
	.bedroom-8 {
		left: 455px;
	}

	.bedroom-4,
	.bedroom-7 {
		left: 371px;
	}

	.bedroom-5,
	.bedroom-7 {
		top: 380px;
	}

	.bedroom-6,
	.bedroom-8 {
		top: 327px;
	}
}

@media (min-width: 1200px) {
	[class*="bedroom-"] {
		height: 130px;
		width: 95px;
	}

	.bedroom-1,
	.bedroom-3 {
		top: 161px;
	}

	.bedroom-1,
	.bedroom-6 {
		left: 148px;
	}

	.bedroom-2,
	.bedroom-4 {
		top: 96px;
	}

	.bedroom-2,
	.bedroom-5 {
		left: 249px;
	}

	.bedroom-3,
	.bedroom-8 {
		left: 548px;
	}

	.bedroom-4,
	.bedroom-7 {
		left: 447px;
	}

	.bedroom-5,
	.bedroom-7 {
		top: 395px;
	}

	.bedroom-6,
	.bedroom-8 {
		top: 330px;
	}
}

.btn-row {
	text-align: center;
	margin: 5px;
}

.rooms figure {
	height: 100px;
	width: 100px;
	float: left;
	margin: 15px;
}

.rooms .room-picture {
	height: 100%;
	width: 100%;
}

.reserve .reserve-status .jumbotron {
	padding: 0;
}


/*----- Contact -----*/

.contact h3 {
	margin-top: 0;
	margin-bottom: 50px;
}


/*----- Footer -----*/

footer {
	position: relative;
	bottom: 0;
}

footer > div:first-child {
	height: 120px;
	background-color: #b69476;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: 60px;
	width: 100%;
}

footer .social-media {
	font-size: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer .social-media > a {
	text-decoration: none;
}

footer .social-media i {
	color: #000;
	padding: 10px;
	transition: opacity .5s ease;
}

footer .social-media i:hover {
	opacity: 0.5;
}

footer > div:last-child {
	height: 60px;
	background-color: #66290b;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer > div:last-child > p {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
